<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
	<connectionStrings>
  <add name="TreeView.Properties.Settings.SqlConnectionString"
   connectionString="Data Source=DESKTOP-M15F5BI\MSSQLSERVER_OLAP; Initial Catalog=prihodi; Integrated Security=True" />
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
